<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InternetConnectionTester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="IPtoConnect" value="95.111.16.147"/>
        <add key="PortToConnect" value="1895"/>
    </appSettings>
    <userSettings>
        <InternetConnectionTester.Properties.Settings>
            <setting name="timeElapsed" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="autoStart" serializeAs="String">
                <value>False</value>
            </setting>
        </InternetConnectionTester.Properties.Settings>
    </userSettings>
</configuration>